services:
  keycloak:
      image: raghuhasan/taskium-keycloak:centered
      command: start --optimized
      container_name: keycloak_server
      ports:
        - 8443:8443
      volumes:
        - ./certs:/etc/x509/https:ro
      environment:
        KC_HOSTNAME: localhost
        KC_HTTP_ENABLED: "false"
        KC_HTTPS_CERTIFICATE_FILE: /etc/x509/https/tls.crt
        KC_HTTPS_CERTIFICATE_KEY_FILE: /etc/x509/https/tls.key
        KC_DB: mysql
        KC_DB_URL: jdbc:mysql://taskiumlake.czf3fstl3xv4.us-east-2.rds.amazonaws.com:3306/keycloak
        KC_DB_USERNAME: admin
        KC_DB_PASSWORD: taskium1!
        KEYCLOAK_ADMIN: admin
        KEYCLOAK_ADMIN_PASSWORD: admin
        KC_HEALTH_ENABLED: "true"
        KC_LOG_LEVEL: info

