services:
  keycloak:
      image: raghuhasan/taskium-keycloak:centered
      command: start --optimized
      container_name: keycloak_server
      ports:
        - 8443:8443
      volumes:
        - ./certs:/etc/x509/https:ro
      env_file:
        - .env
      environment:
        KC_HOSTNAME: ${KC_HOSTNAME:-localhost}
        KC_HTTP_ENABLED: ${KC_HTTP_ENABLED:-false}
        KC_HTTPS_CERTIFICATE_FILE: /etc/x509/https/tls.crt
        KC_HTTPS_CERTIFICATE_KEY_FILE: /etc/x509/https/tls.key
        KC_DB: ${KC_DB:-mysql}
        KC_DB_URL: ${KC_DB_URL}
        KC_DB_USERNAME: ${KC_DB_USERNAME}
        KC_DB_PASSWORD: ${KC_DB_PASSWORD}
        KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN:-admin}
        KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
        KC_HEALTH_ENABLED: ${KC_HEALTH_ENABLED:-true}
        KC_LOG_LEVEL: ${KC_LOG_LEVEL:-info}

